.featured{
    background: #3b89da no-repeat url() right bottom;
    background-size: 50% auto;
    color: #ffffff;

    padding: 6.5em 7% 5em 7%;
}

.featured-heading{
    font-size: 2.5em;
    font-weight: bold;
    max-width: 540px;
    margin-bottom: 18px;
}

.featured-subheading{
    font-size: 1.5em;
}